body{
  //background-image: url('alphabet.jpg');
  font-family: "Cooper Hewitt", "Roboto", sans-serif;

}

.center-children{
    text-align:center;
    margin-left: 100;
}

.vis{
    margin-top: 50px;
    display:inline-block;
}

#vis{
    font-family: "Roboto";
}

#parent_wrapper{
    position: relative;
}

#full_poster{
    position: absolute;
    top: 175px;
    left: 200px;
    width: 250px;
}

#vg-tooltip-element.vg-tooltip.custom-theme {
  font-family: "Roboto", sans-serif;
}
