html,body { height:100%; }

body{
  background-color: white; 
  font-family: "Cooper Hewitt", "Roboto", sans-serif;
  background-repeat: no-repeat;
  background-size: cover;

}

.center-children{
    text-align:center;
    background-color: white;
    width: 1150px;
    margin: auto;
    position: relative;
    padding: 15px;

}



#vis{
    font-family: "Roboto";
}



#full_poster{
    position: absolute;
    top: 125px;
    left: 100px;
    width: 225px;
}

#vg-tooltip-element.vg-tooltip.custom-theme {
  font-family: "Roboto", sans-serif;
}
